/* Estilos generales */
body {
  font-family: sans-serif; /* Cambia esto a tu fuente preferida */
  margin: 90px; /* Elimina el margen predeterminado */
  padding: 20px; /* Agrega un poco de relleno para el contenido */
  background-color: #E6E6FA; /* Fondo de color lila claro */
}

h1 {
  text-align: center; /* Alinea el título al centro */
  margin-bottom: 20px; /* Agrega espacio debajo del título */
}

/* Estilos para formularios */
#formulario {
  margin: 0 auto; /* Centra el formulario horizontalmente */
  width: 50%; /* Ajusta el ancho del formulario si lo deseas */
  color: rgb(136, 111, 80);
}

form {
  margin-bottom: 20px; /* Agrega espacio entre formularios */
  border: 3px solid #050505; /* Agrega un borde delgado */
  padding: 10px; /* Agrega un poco de relleno dentro de los formularios */
  border-radius: 5px; /* Agrega esquinas redondeadas */
  background-color: #D8BFD8; /* Fondo de color lila más oscuro */
}

form h2 {
  margin-top: 0; /* Elimina el margen superior para los títulos de los formularios */
  text-align: center; /* Centra los títulos de los formularios horizontalmente */
}

form label,
form input[type="text"],
form input[type="button"] {
  margin-bottom: 10px; /* Agrega espacio entre elementos */
  display: block; /* Haz que las etiquetas y los campos de entrada se muestren en su propia línea */
  width: 100%; /* Haz que los campos de entrada ocupen todo el ancho */
  padding: 5px; /* Agrega relleno a los campos de entrada */
  border: 1px solid #ccc; /* Agrega un borde delgado */
  border-radius: 3px; /* Agrega esquinas redondeadas */
}

form input[type="button"] {
  background-color: #008CBA; /* Color azul para los botones */
  color: white; /* Color de texto blanco para los botones */
  cursor: pointer; /* Cambia el cursor a puntero al pasar el mouse */
  width: auto; /* Permite que los botones tengan un ancho automático */
  display: block; /* Asegura que los botones estén en bloque */
  margin: 0 auto; /* Centra los botones */
}

form input[type="button"]:hover {
  background-color: #007B9E; /* Azul más oscuro al pasar el mouse */
}

/* Estilos para la lista de clientes */
#clientes {
  border: 3px solid #0f0e0e; /* Agrega un borde a la lista de clientes */
  padding: 10px; /* Agrega relleno a la lista de clientes */
  border-radius: 5px; /* Agrega esquinas redondeadas */
  margin-bottom: 20px; /* Agrega espacio debajo de la lista de clientes */
  background-color: #D8BFD8; /* Fondo de color lila más oscuro */
}
